<div class="row">
    <div class="col-lg-4">
        <h2 style="color: #b92c28">Accessories</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h4 style="color: #014F7A">Speakers</h4>
        <img src="app/img/speakers.jpg" height="150" width="150"/>
    </div>
    <div class="col-lg-4">
        <h4 style="color: #014F7A">Seats</h4>
        <img src="app/img/seats.jpeg" height="150" width="150"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h4 style="color: #014F7A">Power Extension</h4>
        <img src="app/img/power-extension.jpeg" height="150" width="150"/>
    </div>
    <div class="col-lg-4">
        <h4 style="color: #014F7A">Tires</h4>
        <img src="app/img/tire.jpg" height="150" width="150"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h4 style="color: #014F7A">BlueTooth</h4>
        <img src="app/img/Bluetooth-logo1.png" height="150" width="150"/>
    </div>
</div>

