<h1 style="color: #014F7A">Offers</h1>
<div class="row">
    <div class="col-md-6">

        <h3 style="font-style: oblique; color:#014F7A">2016 Toyota Corolla</h3>
        <h4 style="color: #014F7A">Lease</h4>
        <div class="row">
           <img src="app/img/16corolla2.png" width="245" height="212">
        </div>
        <div class="row">
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">$149</p></div>
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">24</p></div>
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">$1599</p></div>
            </div>

            <div class="row">
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">per month</span></div>
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">month term</span></div>
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">due at signing</span></div>
            </div>
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-md-6">

        <h3 style="font-style: oblique; color: #014F7A">2016 Toyota Camry</h3>
        <h4 style="color: #014F7A">Lease</h4>
        <div class="row">
            <img src="app/img/16camry.png" width="225" height="212">

        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">$189</p></div>
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">24</p></div>
                <div class="col-md-2" style="background-color: #89BCE6"><p class="myText">$1549</p></div>
            </div>
            <div class="row">
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">per month</span></div>
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">month term</span></div>
                <div class="col-md-2" style="background-color: #89BCE6"><span class="myText">due at signing</span></div>
            </div>
        </div>

    </div>

</div>


